.item {
  display: flex;
  flex-direction: column;
}

.item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0.5rem;
  background: #1a1a1a;
}

.button {
  border: none;
  outline: none;
  background: none;
}

.button:not(:last-child) {
  margin-right: 1rem;
}

.body {
  line-height: 1.5;
  padding: 0.5rem;
  background: #f9f9f9;
}

.checkbox {
  margin-right: 0.8rem;
}

.done {
  color: gainsboro;
  text-decoration: line-through;
}
